<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="31884JackSpicer.Magiccounterhelper" Publisher="CN=E6454137-7437-48E4-A727-6B0E8ED2AA10" Version="1.0.0.2" />
  <Properties>
    <DisplayName>Magic counter helper</DisplayName>
    <PublisherDisplayName>Jack Spicer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Magic_the_gathering.App">
      <VisualElements DisplayName="Magic counter" Logo="Assets\LogoMio.png" SmallLogo="Assets\SmallLogo.png" Description="Magic the gathering" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>